<!-- <app-profile></app-profile>     -->
<!-- <app-orders></app-orders>
<app-positions></app-positions>
<app-gtt></app-gtt> -->
  
  <!-- Orders Card -->

        <app-orders></app-orders>
     
 
        <app-gtt></app-gtt>
    

        <app-positions></app-positions>



<div class="nav-container-right-arrow">
  
    <a routerLink="/gtt" class="nav-arrow right-arrow" title="GTT">
        &#8594; <!-- Right Arrow -->
    </a>
</div>
<div class="nav-container-left-arrow">
<a routerLink="/home" class="nav-arrow left-arrow" title="Home">
    &#8592; 
</a>
</div>