<div class="nav-container"><a routerLink="/kite" class="nav-arrow right-arrow" title="Kite">
    &#8592; <!-- Right Arrow -->
  </a>
</div>
<div class="container">
 <div class="card">
    <app-buy-above-stoploss></app-buy-above-stoploss>
  </div>
  <div class="card">
    <app-sell-below-stoploss></app-sell-below-stoploss>
  </div>
  <div class="card">
    <app-buy-above-market></app-buy-above-market>
  </div>
  <div class="card">
    <app-sell-below-market></app-sell-below-market>
  </div>
  <div class="card">
    <app-buy-market></app-buy-market>
  </div>
  <div class="card">
    <app-sell-market></app-sell-market>
  </div>
</div>